@import "../../sass/modules/colors";
@import "../../sass/modules/grid";

.small-image {
  width: 70px;
  height: 70px;
  margin-top: 24px;
  opacity: 0.5;
  border: 1px solid #a8aea6;
  @include sm {
    margin-left: 15px;
  }
}

.selected-image {
  margin-top: 24px;
  border: 1px solid $primaryColor;
  opacity: 1;
  @include sm {
    margin-left: 15px;
  }
}
